WebClient/Service References/AccountServiceRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page5/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page5/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_addUser1_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser1" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser1_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUser1Response" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser2_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser2" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser2_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUser2Response" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyUser" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="addUser1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUser1" message="tns:IService1_addUser1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUser1Response" message="tns:IService1_addUser1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUser2" message="tns:IService1_addUser2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUser2Response" message="tns:IService1_addUser2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/verifyUser" message="tns:IService1_verifyUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/verifyUserResponse" message="tns:IService1_verifyUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addUser1">
      <soap:operation soapAction="http://tempuri.org/IService1/addUser1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser2">
      <soap:operation soapAction="http://tempuri.org/IService1/addUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyUser">
      <soap:operation soapAction="http://tempuri.org/IService1/verifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar39.fulton.asu.edu/Page5/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>